@use '../../abstracts' as *;

.section--hero {
	background-color: $color-grey-950;
	color: $color-grey-50;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include respond(tabletP) {
	}
}
