@use '../abstracts' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	@include respond(tabletP) {
	}
}

body {
	font-family: $font-primary;
	font-size: $font-size-default;
	color: $color-default;
	font-weight: 400;
	line-height: 1.6;
	background-color: $color-grey-100;
}

input,
select {
	font-family: inherit;
}

::-moz-selection {
	@include selection();
}

::selection {
	@include selection();
}
