@use './variables' as *;

@mixin clearfix() {
	&::after {
		display: block;
		clear: both;
		content: '';
	}
}

@mixin selection() {
	color: white;
	background-color: $color-secondary;
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
	@if $breakpoint == tabletP {
		@media only screen and (min-width: $bp-sm) {
			@content;
		}
	}
	@if $breakpoint == tabletL {
		@media only screen and (min-width: $bp-md) {
			@content;
		}
	}
	@if $breakpoint == laptop {
		@media only screen and (min-width: $bp-lg) {
			@content;
		}
	}
	@if $breakpoint == desktop {
		@media only screen and (min-width: $bp-xl) {
			@content;
		}
	}
	@if $breakpoint == wide {
		@media only screen and (min-width: $bp-xxl) {
			@content;
		}
	}
}
