@use '../abstracts' as *;

.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: $size-xxs $size-xs;
		display: inline-block;
		border-radius: $border-radius-sm;
		transition: all 0.3s;
		position: relative;
		font-size: $font-size-sm;
		border: none;
		cursor: pointer;
	}

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 1rem 2rem rgba($color-grey-1000, 0.2);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($color-grey-1000, 0.2);
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--primary {
		background-color: $color-primary;
		color: $color-grey-0;
	}
}
