@use '../abstracts' as *;

.footer {
	padding: $size-xxl 0;
	background-color: $color-default;
	color: #aaa;
	font-size: $font-size-sm;
	&__inner {
		display: flex;
		flex-direction: column;
		@include respond(tabletP) {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__list {
		list-style: none;
	}
	&__list-item {
		display: inline-block;
	}
	& a,
	& a:link {
		text-decoration: none;
		&:hover {
			color: $color-grey-0;
		}
	}
}
